<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">

    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Current Page</th>
                <th>Buttons Clicked</th>
                <th>Pages Visited</th>
                <th>Coordinates</th>
                <th>Overall Time</th>
                <th>Date/Time of Access</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>User ID</th>
                <th>Current Page</th>
                <th>Buttons Clicked</th>
                <th>Pages Visited</th>
                <th>Coordinates</th>
                <th>Overall Time</th>
                <th>Date/Time of Access</th>
            </tr>
        </tfoot>
    </table>
</head>
<body>

</body>
</html>