<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.css"/>

</head>
<body>

    <table id="user-interaction-table" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>User ID</th>
{#                <th>Name</th>#}
{#                <th>Email</th>#}
                <th>Session ID</th>
                <th>Overall Time</th>
                <th>Date and Time Accessed</th>
                <th>Percentage of Scroll</th>
            </tr>
        </thead>
      <tfoot>
            <tr>
                <th>User ID</th>
{#                <th>Name</th>#}
{#                <th>Email</th>#}
                <th>Session ID</th>
                <th>Overall Time</th>
                <th>Date and Time Accessed</th>
                <th>Percentage of Scroll</th>

            </tr>
        </tfoot>
    </table>

        <table id="page-interaction-table" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Session ID</th>
                <th>Corresponding Page URL</th>
                <th>Buttons Clicked</th>
                <th>Coordinates</th>
            </tr>
        </thead>
      <tfoot>
          <tr>
                <th>User ID</th>
                <th>Session ID</th>
                <th>Corresponding Page URL</th>
                <th>Buttons Clicked</th>
                <th>Coordinates</th>
            </tr>
        </tfoot>
    </table>

{#    <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>#}
{#    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">#}
{#<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.js"></script>#}
    {% csrf_token %}
    {% load staticfiles %}
    <script src="{% static 'js/dashboard.js' %}" ></script>

</body>
</html>